.back-button {
  background: none;
  outline: none;
  border: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;

  &:active,
  &:hover {
    color: #9a9a9a;
  }
}