@use '../../assets/mixins.scss' as *;

.search-form {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__input {
    @include input;
  }

  &__button {
    @include button;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}