@use '../../assets/mixins.scss' as *;

.form {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    width: 100%;
    
    @include input;
  }

  &__button {
    @include button;
  }
  
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
  }

  &__synonym-btn {
    @include button;

    font-size: 1rem;
    color: var(--text-color);

    &:hover {
      color: var(--text-color);
    }

    &_check {
      color: var(--button-color);
      text-decoration: underline;

      &:hover {
        color: var(--button-color);
      }
    }
  }
}