@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body[data-theme='dark'] {
  --text-color: #dfdfdf;
  --background-color: #020202;
  --button-color: #069;
  --button-hovered: #047;
  --spinner-color: #fff;
  --spinner-shadow: #FFF2;
}

body[data-theme='light'] {
  --text-color: #020202;
  --background-color: #dfdfdf;
  --button-color: #047;
  --button-hovered: #069;
  --spinner-color: #222;
  --spinner-shadow: rgba(34, 34, 34, 0.24);
}

html[data-font='regular'] {
  font-size: 16px;
}

html[data-font='small'] {
  font-size: 14px;
}

html[data-font='medium'] {
  font-size: 18px;
}

html[data-font='huge'] {
  font-size: 20px;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#the-editor .ql-toolbar,
#the-editor .ql-container {
  border: none;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

pre {
  background-color: #f8f8f2;
  color: #23241f;
  overflow: visible;
  font-family: monospace;
  padding: 4px 2px;
}

ol, ul {
  margin-left: 16px;
}