@mixin button {
  background: none;
  outline: none;
  border: none;
  color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;

  &:active,
  &:hover {
    color: var(--button-hovered);
  }
}

@mixin input {
  border: none;
  padding: 8px 4px;
  border-radius: 4px;
  outline: none;
  resize: none;
}